<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single</title>
<meta name="description" content="Footo - is a Premium HTML Responsive Templeate by xstheme Team. You can use this for anykind of photography website">
<meta name="keywords" content="Premium HTML Template">
<meta name="author" content="xstheme">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="assets/css/font-css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/font-css/material-design-iconic-font.min.css">

<link rel="stylesheet" href="assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/css/owl.theme.css">
<link rel="stylesheet" href="assets/css/owl.transitions.css">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/css/menu.css">

<link rel="stylesheet" href="assets/css/style.css">

<link rel="stylesheet" href="assets/css/responsive.css">

<script src="assets/js/modernizr-2.8.3.min.js"></script>
</head>
<body class="single">

<div id="loader-wrapper">
<div id="loader_container">
<div id="in"></div>
</div>
</div>


<header id="header" class="absolute">
<div class="container">
<div id="nav-bar">
<div class="nav-divider">
<nav class="module-group">

<div class="module">
<span class="trigger" data-toggle="side-panel"><i class="zmdi zmdi-hc-fw"></i></span>
</div>
</nav>
</div>
<div class="nav-divider text-center">
<div class="footo-logo">
<a class="logo-wrapper" href="index.html">
<img class="logo" src="assets/img/logo.png" alt="Okno">
</a>
</div>
</div>
<div class="nav-divider">
<div class="module language pull-right">
<ul class="nav nav-primary">
<li class="has-dropdown">
<a href="#">Eng</a>
<ul>
<li><a href="#">English</a></li>
<li><a href="#">Polish</a></li>
<li><a href="#">Spanish</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
</div>
</header>


<nav id="side-panel" class="left bg-dark dark-bg">
<div class="side-panel-wrapper">
<img class="logo" src="assets/img/logo.png" alt="Okno">

<div class="widget widget-links pt40">
<ul id="nav-primary" class="nav nav-panel" data-target="local-scroll">
<li><a href="index.html">Home 1</a></li>
<li><a href="index-2.html">Home 2</a></li>
<li><a href="index-3.html">Home 3</a></li>
<li><a href="about.html">About Us</a></li>
<li><a href="gallery.html">Gallery 1</a></li>
<li><a href="gallery-2.html">Gallery 2</a></li>
<li><a href="gallery-3.html">Gallery 3</a></li>
<li><a href="gallery-4.html">Gallery 4</a></li>
<li><a href="blog.html">Blog</a></li>
<li><a href="contact.html">Contact</a></li>
<li><a href="404.html">404</a></li>
</ul>
</div>
<div class="follow-btn">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-rss"></i></a>
<a href="#"><i class="fa fa-dribbble"></i></a>
<a href="#"><i class="fa fa-behance"></i></a>
</div>
 </div>
<a href="#" class="close" data-toggle="side-panel"><i class="zmdi zmdi-hc-fw"></i></a>
</nav>


<div class="breadcrum-section">
<div class="overlay pt230 pb150 text-center">
<div class="container">
<h1>Latest News</h1>
<p class="text-uppercase pt10"><span class="raleway bold">home</span> <i class="fa fa-angle-right" aria-hidden="true"></i> Blog</p>
</div>
</div>
</div>


<div class="container">
<div class="row">
<div class="col-md-8">
<div class="post-container mt100">
<article>
<div class="thumbnail-img">
<img src="images/blog/big-3.jpg" class="img-responsive" alt="Post Iamge">
</div>
<div class="post-details dark-bg">
<div class="post-meta">
<a><i class="fa fa-clock-o"></i>06 May 2016</a>
<a href="#"><i class="fa fa-tag" aria-hidden="true"></i> Fashion </a>
<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 12 Comments </a>
</div>
<h4><a href="#" class="black"> Common Mistakes occur during capture portrails</a></h4>
<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Duis sed odio sit amet nibh vulputate cursus.</p>
<blockquote class="mt40 mb40" cite="http://www.index.html">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
</blockquote>
<p class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
<p class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
</div>
</article>
<article class="prev-next-post bb mb50">
<div class="post-details">
<h4><a href="#" class="black"> Lorem ipsum dolor sit amet consectetur adipisicing elit eiusmod tempor incididunt </a></h4>
<p class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
</div>
<div class="inline-block mt40">
<div class="col-sm-4">
<a href="#" class="prev-post bold text-uppercase raleway"><i class="zmdi zmdi-hc-fw"></i> Older Post </a>
</div>
<div class="col-sm-4">
<a href="#" class="next-post bold text-uppercase raleway"> Next Post <i class="zmdi zmdi-hc-fw"></i></a>
</div>
<div class="col-sm-4">
<p class="share-btn-box raleway text-uppercase bold text-center"> Share
<a href="#"><i class="zmdi zmdi-hc-fw"></i></a>
<a href="#"><i class="zmdi zmdi-hc-fw"></i></a>
<a href="#"><i class="zmdi zmdi-hc-fw"></i></a>
</p>
</div>
</div>
</article>
 <div class="author-bio">
<div class="author-bio-info dark-bg clearfix">
<div class="author-img">
<img src="images/blog/author-bio.jpg" alt="Author Bio Image">
</div>
<div class="author-bio-txt content-box">
<a href="#" class="author-name bold raleway">Mr. Jails Ommon</a>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatet.</p>
<div class="share-btn-box mt5 raleway text-uppercase bold"> Share
<a href="#"><i class="zmdi zmdi-hc-fw"></i></a>
<a href="#"><i class="zmdi zmdi-hc-fw"></i></a>
<a href="#"><i class="zmdi zmdi-hc-fw"></i></a>
</div>
</div>
</div>
</div>
<div class="related-post bb mt50">
<div class="section-head pb50">
<h2 class="bold">Related Post <span class="small-line"></span></h2>
</div>
<div class="row">
<div class="col-md-6">
<article>
<div class="thumbnail-img">
<img src="images/blog/medium.jpg" class="img-responsive" alt="Post Iamge">
</div>
<div class="post-details dark-bg">
<div class="post-meta">
<a><i class="fa fa-clock-o"></i>06 May 2016</a>
<a href="#"><i class="fa fa-tag" aria-hidden="true"></i> Fashion </a>
<a href="#"><i class="zmdi zmdi-hc-fw"></i> Admin </a>
</div>
<h4><a href="#" class="black">STANDURD RELATED POST</a></h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enimerror</p>
<div class="link">
<a href="#" class="read-more pt10 mt15">Read More <i class="zmdi zmdi-hc-fw"></i></a>
</div>
</div>
</article>
</div>
<div class="col-md-6">
<article>
<div class="thumbnail-img">
<img src="images/blog/medium-2.jpg" class="img-responsive" alt="Post Iamge">
</div>
<div class="post-details dark-bg">
<div class="post-meta">
<a><i class="fa fa-clock-o"></i>06 May 2016</a>
<a href="#"><i class="fa fa-tag" aria-hidden="true"></i> Fashion </a>
<a href="#"><i class="zmdi zmdi-hc-fw"></i> Admin </a>
</div>
<h4><a href="#" class="black">STANDURD RELATED POST</a></h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enimerror</p>
<div class="link">
<a href="#" class="read-more pt10 mt15">Read More <i class="zmdi zmdi-hc-fw"></i></a>
</div>
</div>
</article>
</div>
</div>
</div>
<div class="post-comments-area pt40">
<h3 class="sub-title"> (05) Comments </h3>
<ul class="comments-list pt40">
<li class="parent">
<div class="comments-img">
<img class="img-responsive" src="images/blog/author-bio.jpg" alt="Post Iamge">
</div>
<div class="comments-txt dark-bg content-box">
<p class="auther">
<a href="#" class="raleway bold text-uppercase">Mr. Utbot Kotha</a>
<span>5 Apr 2016</span>
</p>
<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non</p>
<p class="reply text-right"><a href="#" class="raleway bold">Reply <i class="fa fa-share"></i></a></p>
</div>
</li>
<li class="children">
<div class="comments-img">
<img class="img-responsive" src="images/blog/author-bio.jpg" alt="Post Iamge">
</div>
<div class="comments-txt dark-bg content-box">
<p class="auther">
<a href="#" class="raleway bold text-uppercase">Mr. Lamsam Alis</a>
<span>5 Apr 2016</span>
</p>
<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non</p>
<p class="reply text-right"><a href="#" class="raleway bold">Reply <i class="fa fa-share"></i></a></p>
</div>
</li>
<li class="parent">
<div class="comments-img">
<img class="img-responsive" src="images/blog/author-bio.jpg" alt="Post Iamge">
</div>
<div class="comments-txt dark-bg content-box">
<p class="auther">
<a href="#" class="raleway bold text-uppercase">Mr. Tuku Mia</a>
<span>5 Apr 2016</span>
</p>
<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non</p>
<p class="reply text-right"><a href="#" class="raleway bold">Reply <i class="fa fa-share"></i></a></p>
</div>
</li>
<li class="parent">
<div class="comments-img">
<img class="img-responsive" src="images/blog/author-bio.jpg" alt="Post Iamge">
</div>
<div class="comments-txt dark-bg content-box">
<p class="auther">
<a href="#" class="raleway bold text-uppercase">Mr. Henry Mur</a>
<span>5 Apr 2016</span>
</p>
<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non</p>
<p class="reply text-right"><a href="#" class="raleway bold">Reply <i class="fa fa-share"></i></a></p>
</div>
</li>
</ul>
</div>
<div class="form-container mt20">
<h3 class="sub-title bold black mb30"> Leave a Comment </h3>
<form action="#" method="POST" class="contact-form validate-form" id="contact-form" data-message-error="Opps... Something went wrong - please try again later" data-message-success="Thank you form your message! We will answer within 24 hours.">
<div class="row">
<div class="col-md-6">
<div class="form-group">
<i class="zmdi zmdi-hc-fw"></i>
<input name="name" id="name" type="text" class="form-control" placeholder="Name" required="">
</div>
<div class="form-group">
<i class="zmdi zmdi-hc-fw"></i>
<input name="email" id="email" type="text" class="form-control" placeholder="Mail" required="">
</div>
<div class="form-group">
<i class="zmdi zmdi-hc-fw"></i>
<input name="email" id="website" type="text" class="form-control" placeholder="Website" required="">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<i class="zmdi zmdi-hc-fw"></i>
<textarea name="message" id="message" class="form-control" placeholder="Message" required=""></textarea>
</div>
<div class="btn-submit">
<button type="submit" class="pull-right"><span class="raleway bold black text-uppercase">Subnit <i class="zmdi zmdi-hc-fw"></i></span></button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="col-md-4">
<div class="sidebar mt100 mb80">

<div class="widget blog-search-bar">
<form class="form-search" method="get" id="s" action="/">
<div class="input-append">
<input class="form-control input-medium search-query" type="text" name="s" placeholder="Search" required>
<button class="add-on" type="submit"><i class="fa fa-search"></i></button>
</div>
</form>
</div>


<div class="widget blog-categories">
<div class="catagorie-list">
<h2 class="rounded">Categories <span class="small-line"></span></h2>
<ul class="cat-list">
<li><a href="#">Web Design <span class="pull-right">333</span></a></li>
<li><a href="#">WordPress Themes <span class="pull-right">245</span></a></li>
<li><a href="#">Graphic Design <span class="pull-right">450</span></a></li>
<li><a href="#">PSD Template <span class="pull-right">300</span></a></li>
</ul>
</div>
</div>


<div class="latest-post">
<div class="widget">
<h2 class="rounded">Recent Posts <span class="small-line"></span></h2>
<div class="latest-post">
<div class="inner-item mb20 clearfix">
<div class="small-post-img">
<a href="single.html"><img class="img-responsive" src="images/blog/small-1.jpg" alt="Post Iamge"></a>
</div>
<div class="content-box">
<h5 class="title mb15">
<a href="single.html" class="raleway black">Common Mistake occur During</a>
</h5>
<p class="post-meta">
<a><i class="fa fa-clock-o"></i>06 May 2016</a>
</p>
</div>
</div>
<div class="inner-item mb20 clearfix">
<div class="small-post-img">
<a href="single.html"><img class="img-responsive" src="images/blog/small-2.jpg" alt="Post Iamge"></a>
</div>
<div class="content-box">
<h5 class="title mb15">
<a href="single.html" class="raleway black">Common Mistake occur During</a>
</h5>
<p class="post-meta">
<a><i class="fa fa-clock-o"></i>06 May 2016</a>
</p>
</div>
</div>
<div class="inner-item clearfix">
<div class="small-post-img">
<a href="single.html"><img class="img-responsive" src="images/blog/small-3.jpg" alt="Post Iamge"></a>
</div>
<div class="content-box">
<h5 class="title mb15">
<a href="single.html" class="raleway black">Common Mistake occur During</a>
</h5>
<p class="post-meta">
<a><i class="fa fa-clock-o"></i>06 May 2016</a>
</p>
</div>
</div>
</div>
</div>
</div>


<div class="add">
<div class="widget">
<div class="img-box">
<img src="images/add.jpg" class="img-responsive" alt="">
</div>
</div>
</div>


<div class="widget">
<div class="tag-clouds">
<h2 class="rounded">Tag Clouds <span class="small-line"></span></h2>
<div class="tag-list">
<a href="#">Commercial</a>
<a href="#">Products</a>
<a href="#">Design</a>
<a href="#">Photography</a>
<a href="#">Posdcast</a>
<a href="#">Style</a>
<a href="#">Landscape</a>
<a href="#">Portrails</a>
</div>
</div>
</div>

</div>
</div>
</div>
</div>


<footer id="footer" class="gray-bg noborder pt60">
<div class="container center">
<div class="footer-widgets-wrap pb40">
<div class="row clearfix">
<div class="col-md-3">
<div class="widget clearfix">
<div class="footer-l-img">
<img src="assets/img/logo.png" alt="Imges">
</div>
<p>Dramatically implement unique technoloships. Efficiently benchmark timely human capital after market positioning architectures.</p>
<ul class="contact-info">
<li class="fa-home">
31 Street Lane, 4th Floor, <br> NY 23560
</li>
<li class="fa-phone">
+8807. 325. 2145
</li>
<li class="fa-envelope">
<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="157c7b737a55667c61707b7478703b767a78">[email&#160;protected]</a>
</li>
</ul>
<div class="follow-btn">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-rss"></i></a>
<a href="#"><i class="fa fa-dribbble"></i></a>
<a href="#"><i class="fa fa-behance"></i></a>
</div>
</div>
</div>
<div class="col-md-3">
<div class="widget clearfix">
<h2 class="rounded pb30">Quick Link
<span class="small-line"></span>
</h2>
<div class="all-categories">
<ul>
<li>
<a href="#">Business</a>
</li>
<li>
<a href="#">Health</a>
</li>
<li>
<a href="#">Entertainment</a>
</li>
<li>
<a href="#">Science</a>
</li>
<li>
<a href="#">Sports</a>
</li>
<li>
<a href="#">Technology</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-md-3">
<div class="widget clearfix">
<h2 class="rounded pb30">Instagram
<span class="small-line"></span>
</h2>
<div id="instagram" class="owl-carousel">
<div><img src="images/instagram/gallery5.jpg" alt=""></div>
<div><img src="images/instagram/gallery7.jpg" alt=""></div>
<div><img src="images/instagram/gallery9.jpg" alt=""></div>
<div><img src="images/instagram/gallery10.jpg" alt=""></div>
</div>
</div>
</div>
<div class="col-md-3">
<div class="widget clearfix">
<h2 class="rounded pb30">Newsletter
<span class="small-line"></span>
</h2>
<div class="newslatter">
<p>Dramatically implement unique technoloships. Efficiently benchmark timely human capital after market positioning architectures.</p>
<form action="#" method="POST" class="subscribe-form">
<input type="email" name="email" class="subscribe-input" placeholder="Your Mail">
<button type="submit" class="subscribe-submit">Go</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="copyrights">
<div class="container text-center clearfix">
&copy;FOOTO Theme by: <a href="http://www.xstheme.com">XSTheme</a> | All Rights Reserved 2016
</div>
</div>
</footer>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-2.1.4.min.js"></script>

<script src="assets/js/plugins.js"></script>

<script src="assets/js/loder/sonic-loading.js"></script>
<script src="assets/js/loder/modernizr-page-load.js"></script>
<script src="assets/js/loder/loder-function.js"></script>

<script src="assets/js/owl.carousel.js"></script>

<script src="assets/js/custom.js"></script>
</body>
</html>
